:root {
  --green: #02735e;
  --yellow: #f29f05;
  --peach: #f2d1b3;
  --orange: #f25835;
}

body {
  background-color: var(--green);
  transition: background-color 0.2s ease-in-out;
  color: white;
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

.peach {
  background-color: var(--peach);
}

.orange {
  background-color: var(--orange);
}
