.quote-box {
  margin-top: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  border-radius: 25px;
  background-color: var(--mint);
  color: var(--title_white);
  padding: 4px 0;
}

.quote {
  font-size: 20px;
  color: var(--title_white);
}

.quote-author {
  font-size: 16px;
  font-weight: 400;
}
