/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500&family=Open+Sans:wght@400;600&display=swap");

/* screens */
@import url(screens/todotodo.css);
@import url(screens/header.css);

/* variant */
@import url(variable.css);

@import url(reset.css);

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--title_white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 120px;
}
