.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-sm {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.hiUser {
  width: 840px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiUser input {
  text-align: center;
  border-style: none;
  border-bottom: 2px solid var(--green);
  color: var(--black);
}
